{% if exists("publicFunctions") %}## Library Functions

{% for child in publicFunctions %}### {{child.kind}} <i><b>{{child.name}}</b></i>

{{ render("member_details", child) }}
---
{% endfor %}{% endif %}

{% if exists("publicTypes") %}## Library Types

{% for child in publicTypes %}### {{child.kind}} {{child.name}}

{{ render("member_details", child) }}
{% endfor %}{% endif %}