name: Doc Generation

on: [push, pull_request]

jobs:
  DocBuild:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          
      - name: Build doc
        run: |
          mkdir -p build
          cd build
          cmake .. -DBUILD_DOC=ON
          make MkDocs


  MasterDocDeploy:
    runs-on: ubuntu-latest
    needs: [DocBuild]
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          
      - name: Build doc
        run: |
          mkdir -p build
          cd build
          cmake .. -DBUILD_DOC=ON
          make MkDocs
          cd ..

      - name: Publish doc
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/doc/out_docs/mkdocs/out
          destination_dir: master
