name: CI Pushes

on: [push, pull_request]

jobs:
  TestC:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        images: ["debian:buster", "debian:bullseye", "ubuntu:20.04"]

    container:
      image: ${{ matrix.images }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh

      - name: Build and test
        run: |
          mkdir -p build
          cd build
          cmake -DBUILD_TESTS_EXAMPLES=ON ..
          make -j4
          make test

  TestCMacOS:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          brew install cmake gnu-tar bzip2 gzip fftw doxygen
          pip3 install -r requirements_doc.txt
          mkdir -p build
          cd build
          cmake -DBUILD_TESTS_EXAMPLES=ON ..
          make -j4
          make test
          sudo make install

  TestPythonBuildPublish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          bash ./.github/scripts/install_genalyzer.sh

      - name: Test
        run: |
          cd build/bindings/python
          sudo pip3 install .
          cd ../../..
          cd bindings/python
          pytest -vs tests

      - name: Update to dev version and build release
        if: github.ref == 'refs/heads/main'
        run: |
          cd build/bindings/python
          pip install setuptools wheel twine build
          sed "s/0.0.1/0.0.1-dev-$(openssl rand -base64 12)/" setup.py
          python -m build

      - uses: pypa/gh-action-pypi-publish@v1.0.0a0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

  TestPython:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          bash ./.github/scripts/install_genalyzer.sh

      - name: Test
        run: |
          cd build/bindings/python
          sudo pip3 install .
          cd ../../..
          cd bindings/python
          pytest -vs tests

  DocBuild:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          
      - name: Build doc
        run: |
          mkdir -p build
          cd build
          cmake .. -DBUILD_DOC=ON
          make MkDocs


  DocDeploy:
    runs-on: ubuntu-latest
    needs: [DocBuild]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          bash ./.github/scripts/install_dependencies.sh
          
      - name: Build doc
        run: |
          mkdir -p build
          cd build
          cmake .. -DBUILD_DOC=ON
          make MkDocs
          cd ..

      - name: Publish doc
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/doc/out_docs/mkdocs/out
